<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body data-th-object="${order}">
        <h1>SUCCESS</h1>
        name: <span data-th-text="*{name}"></span> address:
        <span data-th-text="*{address}"></span> phone:
        <span data-th-text="*{phone}"></span> rushed?:
        <span data-th-text="*{rush}"></span> comments:
        <span data-th-text="*{comments}"></span>
        <div data-th-object="${pizza}">
            pizza: <span data-th-text="*{pizza}"></span>
            <span data-th-text="*{size}"></span>
            <span data-th-text="*{quantity}"></span>
        </div>
    </body>
</html>
